* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.img-placeholder {
    padding: 10px;
    border: 1px solid black;
}

body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

nav {
    font-size: 1.2rem;
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr;
    gap: 80px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 40px;
    border-right: 1px solid black;
}

nav > div:nth-child(n+2) > ul{
    display: grid;
    gap: 15px;
}

main {
    padding-top: 20px;
    width: 100%;
}

header > div {
    padding-left: 20px;
}

.header-first-row {
    display: grid;
    grid-auto-flow: column;
}

.search-bar > input {
    appearance: none;
    width: 500px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 8px;
}

.header-first-row > .user-profile-area {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto 1fr;
    gap: 20px;
}

.header-second-row {
    display: grid;
    grid-auto-flow: column;
    padding-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.header-second-row > .greetings-section {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.header-second-row > .btns {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
}

.btns > button {
    border-radius: 10px;
    padding: 3px 0px;
}