* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.dashboard-icon {
    width: 40px;
}

.nav-first-section {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.nav-btn-icon {
    width: 20px;
}

nav > div:nth-child(n + 2) > ul > li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
}

body {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

nav {
    font-size: 1.2rem;
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr;
    gap: 80px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 40px;
    border-right: 1px solid black;
}

nav > div:nth-child(n+2) > ul{
    display: grid;
    gap: 15px;
}

main {
    padding-top: 20px;
    width: 100%;
}

header > div {
    padding-left: 20px;
}

.header-first-row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-right: 40px;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.magnifiying-glass-icon {
    width: 25px;
}

.search-bar > input {
    appearance: none;
    width: 500px;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 8px;
}

.header-first-row > .user-profile-area {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto auto 1fr;
    gap: 20px;
}

.notification-icon {
    width: 25px;
}

.profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.big {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header-second-row {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-top: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    padding-right: 35px;
}

.header-second-row > .greetings-section {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.header-second-row > .btns {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
}

.btns > button {
    border-radius: 20px;
    padding: 8px 40px;
}

article {
    padding-left: 20px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    gap: 20px;
}

.projects-container {
    width: 50vw;
}

.projects {
    display: grid;
    padding-top: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    gap: 15px;
}

.projects > .project {
    border: 1px solid black;
    padding: 15px 12px;
    display: grid;
    border-radius: 5px;
}

.project > h3 {
    font-size: 0.9rem;
}

.project > p {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.50);
    padding-right: 20px;
}

.project-btns {
    padding-top: 10px;
    align-self: end;
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

.project-btns > button {
    background-color: white;
    border: 0;
}

.project-icon {
    width: 20px;
}

.article-right-column {
    display: grid;
    gap: 15px;
}

.article-right-column > div {
    margin-right: 30px;
}

.article-right-column > div > div {
    margin-top: 15px;
}

.annoucements-container {
    padding: 25px 25px;
    padding-bottom: 35px;
    border: 1px solid black;
    display: grid;
    gap: 25px;
}

.announcement {
    border-bottom: 1px solid rgba(0, 0, 0, 0.245);
    padding-bottom: 10px;
}

.announcement > h4 {
    font-size: 0.9rem;
}

.announcement > p {
    font-size: 0.8rem;
}

.trending-apps-container {
    display: grid;
    border: 1px solid black;
}

.trending-apps-container > .trending-app {
    padding: 7px 30px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
